.panel-body {
    height: 600px;
}

.speed-gauge {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    top: -150px;
}

.results{
    position: relative;
    top: -300px;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding: 1em;
}

.results p {
    margin: 0px;
}

.logo {
    background-image: url("img/clearfly-logo.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px 80px;
    display: float;
    height: 80px;
    width: 80px;
    position: relative;
    top: 10px;
    left: 10px;
    margin: 0;
    padding: 0;
}

.logo-link {
    width: 80px;
    height: 80px;
    border: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.copy {
    margin-top: 10px;
}

.hide{
    display: none;
}

[aria-disabled=true] {
    background-color: #d1d1d1;
    cursor: not-allowed;
}


